<!--詳細画面のビュー-->

<div>
    <%= flash[:notice] %>
</div>

<h2>Title:</h2>
<P><%= @book.title %></P>

<h2>Body:</h2>
<P><%= @book.body %></P>

<span><%= link_to "Edit", edit_book_path(@book.id) %></span>
<span><%= link_to "Back", "/books" %></span>